header h1{
    background-color: dimgray;
    margin: 0%;
    padding: 3%;
    font-size: 80px ;
    text-align: right;    
    position: sticky;
    top: 0;
}
h1{
    color: aliceblue;
}
#navigate{
    position: sticky;
    top: 0%;
    z-index: 1;
}
.menu{
    margin: 0%;
    background-color: grey;
}
.menu li a{
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
}
.menu li{
    padding: 10px;
    display: inline-block;
}
.menu li:hover{
    background-color: rgb(1, 9, 9);
}
.menu li:nth-child(2):hover #dropdown1, .menu li:nth-child(3):hover #dropdown2{
    display: block;
}
#dropdown1, #dropdown2{
    position: absolute;
    display: none;
    top: 42.5px;
    background-color: white;
    padding: 0%;
}
#dropdown1 li, #dropdown2 li{
    display: block;
}
#dropdown1 li:hover, #dropdown2 li:hover{
    background-color: gainsboro;
}
#dropdown1 li a, #dropdown2 li a{
    color: steelblue;
    font-size: 16px;
}
.anime{
    background-image: url(Images/Animation/ani1.jpg);
    background-size: 100% 100%;
    border-radius: 2px ;
    border-color: steelblue;
    border-style: groove;
    width: 100%;
    height: 400px;
    animation: slider 15s infinite linear;
}

@keyframes slider {
    0%{ background-image: url(Images/Animation/ani1.jpg);}
    25%{ background-image: url(Images/Animation/ani2.png);}
    50%{ background-image: url(Images/Animation/ani3.jpg);}
    75%{ background-image: url(Images/Animation/ani4.jpg);}
    100%{ background-image: url(Images/Animation/ani5.jpg);}

}
footer h3{
    background-color: rgb(7, 2, 2);
    margin: 0%;
    padding: 1%;
    text-align: center;
}
h3{
    color: aliceblue;
}
#Box{
    width: 100%;
    height: 100%;
    background-color: white;
    font-weight: bold;
    border: 2px solid rgb(2, 8, 2);
    position: static;
    top: 20px;
    left: 250px;
    margin-top: 30px;
}
#Box h2{
    padding-left: 10px;
}
.product{
    background-color: lightcyan;
    position: relative;
    border-radius: 10px;
   
    width: 330px;
    height: 370px;
    display: inline-block;
    left: 15px;
    margin: 18px;
}
.product img{
   position: relative;
    left:  10px;
    width: 300px;
    height: 200px;
}
.product h3{
    color: black;
    padding-left: 10px;

}
.overlay{
    color: blue;
    font-size: medium;
    padding-left: 10px;
}
.product button{
    color: orange;
    background-color: rgb(202, 212, 232);
    font-size: 17px;
    width: 330px;
    height: 25px;
    position: absolute;
    border-color: blue;
    left: 0px;
}
.product :hover{
    transform: scale(1.1);
   

}
.product button:active{
    background-color: rgb(250, 234, 230);
    border-color: rgb(0, 255, 76);

}

